html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(to right top,#9e0a4f,#270672);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;


 
}
a{
  color:inherit;
  text-decoration: none;
}
*{
  box-sizing:border-box;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&family=Rubik+Glitch&family=Rubik+Moonrocks&family=Ubuntu&display=swap");

:root {
  --main-color: #cb3066;
  --second-color: #16bffd;
  --box-shadow: 0 0 5px rgb(33, 3, 3);
  --border-color: 1px solid #c3c3c361;
  --dark: #1f2022;
  --light: rgb(157, 157, 157);
  --white: rgba(255, 255, 255, 0.925);
  --border-radius: 10px;
  --inputs-background: #121212;
  --boxes-color: #252024 !important;
  --nav-background: #1f2022;
  --team-box-color: #151d20;
}



/* Home Page */
.home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 71px);
  position: relative;
}
.home .text-light {
  z-index: 2;
}
/* .btn2{
  
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
   text-decoration: none;
} */

.btn1{

    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    text-decoration: none;
}
.home video {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 9999999999; */
}
.home.container {
  z-index: 100000000;
}


.home h1 {
  font-size: 3.4rem;
}
.home_text {
  color: var(--main-color);
}
.home .para {
  font-size: 1.2rem;
  line-height: 2;
  color: var(--white);
}

section {
  border-bottom: var(--border-color);
}
.contact img,
.work img {
  border-radius: 20px 120px 20px 120px;
}
.main-header-section {
  border-left: 5px solid var(--main-color);
  padding-left: 10px;
  font-size: larger;
}
.information h4 {
  text-transform: uppercase;
}